*{
    box-sizing: border-box;
}

.hidden{
    display: none;
}

.font-color-white{
    color: white;
}

.size1000p{
    font-size: 1000%;
}


body{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #121212;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s; 
    -o-animation: fadein 2s; 
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


#weather{
    margin-top: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weather .icon{
    margin-bottom: 5px;
}


#weather .weather{
    margin-top: 5px;
}

#clock{
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: -20px;
    text-shadow: 1px 1px 15px #333;
}

#login-form input, #todo-form input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    font-size: 20px;
    color: white;
    width: 300px;
}

#login-form input::placeholder, #todo-form input::placeholder{
    color: white;
}

#todo-list li{
    margin-bottom: 15px;
    list-style-type: none;
    font-size: 20px;
}

#todo-list .close{
    cursor: pointer;
    margin-left: 30px;
}

#quote{
    height: 7vh;
    margin-top: auto;
    text-align: center;
}
#quote span:first-child{
    font-weight: bold;
}